<!DOCTYPE html>
<html>
<head>
    <title>404 - Page Not Found</title>
</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p><%= message %></p>
    <a href="/">Go Back to Home</a>
    <!-- Footer section for page credits and copyright information -->
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">&copy; 2024 BHARGAVKUMAR SENJALIYA - 151964228 - bjsenjaliya@myseneca.ca</div>
    </footer>
</body>
</html>
