<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<nav>
    <b><a href="/">Home</a></b>&nbsp&nbsp;
    <b><a href="/about">About</a></b>&nbsp&nbsp;
    <b><a href="/articles">Articles</a></b>&nbsp&nbsp;
    <b><a href="/categories">Categories</a></b>&nbsp&nbsp;
</nav>
<body>

    <header>
       <h1> Cricket </h1>
    </header>
    <main>
        <h2> About Me</h2>
        <p>
            Name:Bhargavkumar jitendrabhai Senjaliya <br>
            Student ID:151964228 <br>
            Mail Id: bjsenjaliya@myseneca.ca<br>
        </p>

         <h2>About The Blog</h2>

        <p>
            welcome to my blog Cricket is more than just a game; it’s a passion that unites millions around the globe. 
            Join us as we explore the latest matches, player profiles, and tips for mastering your skills on the field. 
            Whether you’re a die-hard fan or a casual spectator, there’s always something exciting happening in the world of cricket!"
        </p>

        <footer>
            <small> Bhargavkumar Senjaliya - 151964228 - bjsenjaliya@myseneca.ca  </small>
        </footer>

    </main>

</body>
</html>